@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bine ati venit!</h1>
    <p>Gestionati clientii, conturile, tranzactiile si imprumuturile</p>
</div>
